/* .App{
  height: 100vh;
  background-color: #282c34;
  
} */
.Mainpage{
  background-color:black;
  overflow: auto;
  height: 100vh;
  width:100vw;
  color: white;
}

.nvbar{
  background-color:rgb(19, 18, 18,0.5);
  min-width:"100%";
  margin-right:14px;
  display: flex;
  flex:2;
  justify-content: space-evenly;
}
.sideIcon{
  display:flex;
  flex:1;
  justify-content:space-around;
  align-items: center;
  color:rgb(63, 63, 235);
}
.jumbotron{
 width:100%;
 height:100%;
 color:wheat;
}
.imageBox{
  max-height:75%;
  overflow-y: hidden;
}
.card{
  color:whitesmoke;
  min-height:200px;
  width:300px;
  margin:10px;
  cursor: pointer;
  background-color:rgb(26,26,26);
}

.card:hover {
  transform: scale(1.05)
}
.scrollUp{
  width:40px;
  height:40px;
  background:rgb(228, 38, 133);
  border-radius:50%;
  position:absolute;
  right:30px;
  bottom:20px;
  z-index:1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardDisplay{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.title{
  position:absolute;
  padding:5px;
  font-size: small;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(44, 42, 40,0.3);
  
}